langgraph
langgraph-prebuilt
langgraph-sdk
langsmith
langchain-community
langchain-core
langchain-openai
# trustcall
langgraph-cli[inmem]

flask>=3.1.2
flask-cors>=6.0.0
dotenv

PyPDF2
pytesseract
pdf2image

google-cloud-language>=2.18.0
google-genai>=1.47.0